* {
margin: 0;
padding: 0;
-moz-box-sizing: border-box; 
-webkit-box-sizing: border-box; 
box-sizing: border-box;
}

body {
font-family: 'Helvetica Neue','Helvetica', Arial, sans-serif;
}

.main-content {
height: 800px;
width: 800px;
margin: 0 auto;
}

.patient-bg, 
.vitalsign-bg,
.medicine-bg,
.medicament-bg
{
display: none;
position: absolute;
top: 0;
left: 0;
height:100%;
width: 100%;
cursor: pointer;
z-index: 1000; /* high z-index */
background: #000; /* fallback */
background: rgba(0,0,0,0.75);
}

.patient-content,
.vitalsign-content,
.medicine-content, 
.medicament-content 
{
background: #fff;
padding: 1%;
width: 40%;
position: relative;
top: 15%;
left: 50%;
margin: 0 0 0 -20%; /* add negative left margin for half the width to center the div */
cursor: default;
border-radius: 4px;
box-shadow: 0 0 5px rgba(0,0,0,0.9);
}

/* media query for most mobile devices */
@media only screen and (min-width: 0px) and (max-width: 480px){
.overlay-content,
.medicine-content,
.vitalsign-content {
width: 96%;
margin: 0 2%;
left: 0;
}
}



