/*

Main Colors:
	dark grey	:	#545454		| dark blue	#002E40
	grey			: #969696		| blue			#2A5769
	white			: #FFFFFF		| white			#
	blue			: #63ACDC		|	orange		#FABD4A
		dark blue	: #1C425C	|	orange 2	#FA9600
*/

@font-face {
font-family: 'Titillium Maps';
src: url("../fonts/TitilliumMaps29L002.eot");
src: local('Titillium Maps'), local('TitilliumMaps'),
url("../fonts/TitilliumMaps29L002.otf") format("opentype"),
url("../fonts/TitilliumMaps29L002.woff") format("woff");
}


*
{
margin: 0;
padding: 0;
}


#all
{
margin: 0 auto;
max-width:1050px;
padding: 0px;
text-align: left;
}

body{
font-size: 100.01%;
padding: 0px;
text-align: left;
position:relative;
min-width: 500px;

}

h1{
color:#63ACDC;
text-align:left;
font-family: 'Titillium Maps';
text-align: center;
font-size: 24pt;
}

h2 {
color:#274B6D;
text-align:left;
font-family: 'Titillium Maps';
text-align: center;
font-size: 18pt;
}

h3 {
color:#274B6D;
text-align:left;
font-family: 'Titillium Maps';
text-align: center;
font-size: 14pt;
}

popuplabel{
color:#63ACDC;
text-align:left;
font-family: 'Titillium Maps';
text-align: left;
font-size: 12pt;
}

p {
font-family: 'Helvetica';
font-size:20px;
}

a:link {color:#63ACDC;}      /* unvisited link */
a:visited {color:#63ACDC;}  	/* visited link */
a:hover {color:#1C425C;}  	/* mouse over link */
a:active {color:#1C425C;}  	/* selected link */


.selection select {
border: 0 !important;  /*Removes border*/
-webkit-appearance: none;  /*Removes default chrome and safari style*/
-moz-appearance: none;  /*Removes default style Firefox*/
}

/************************* Wrapper **************************/
#wrapper {
border:solid 0px ;
padding-top:0px;
}
/************************* Wrapper END**************************/

/************************* Header **************************/
#header {
height: 100px;
padding: 10px;
background-color: #2A5769;
}

#title {

}

#header h1 {
margin: 15px;
text-align: left;
}

#header p {
text-align: center;
}

#logo {
float: left;
/*position: absolute;*/
/*left: 38%;*/
}
#headertitle {
float: left;
/*position: absolute;*/
/*left: 45%;*/
}

/************************* Wrapper END**************************/

/************************* Content **************************/
#content {
min-height: 450px;
position: relative;
width: 100%;
background: white;
}

#main {
min-width: 510px;
overflow: hidden;
}

#dataColumn1 {
width: 500px;
float: left;
}

#dataColumn2 {
width: 450px;
float: left;
}


#sidebar {
float: left;
height: 500px;
margin: 15px;
padding: 15px;
vertical-align: top;
width: 200px;
/*display block;
background-color: #CCC;
border: outset 3px #bbb;*/
}
.inputtext{
width:50%;
padding:2px;
outline:none;
height:25px;
}

.selection{
background-color:#EFF5FF;
width:150px;
border:solid #ccc;
height:25px;
display: inline-block;
}
.focusField{
border:solid 2px #73A6FF;
background:#EFF5FF;
color:#000;
}
.idleField{
background:#EEE;
color: #6F6F6F;
border: solid 2px #DFDFDF;
height: 25px;
}


.hor-zebra {
border-collapse: collapse;
font-size: 12px;
margin: 20px;
text-align: left;
width: 480px;
}

.hor-zebra .odd {
background: none repeat scroll 0 0 #fabc4a;
}

img {
margin: 2px;
}

#patientData {
margin-top: 5px;
}

/************************* Content END **************************/

/************************* Footer **************************/
#footer {
min-height: 200px;
background-color: #5c5c5c; 
padding: 10px;
clear:both;
position: relative;

/*
background-image: -webkit-gradient(
	linear,
	left top,
	right bottom,
	color-stop(0.08, #969696),
	color-stop(0.85, #545454)
);
background-image: -o-linear-gradient(right bottom, #969696 8%, #545454 85%);
background-image: -moz-linear-gradient(right bottom, #969696 8%, #545454 85%);
background-image: -webkit-linear-gradient(right bottom, #969696 8%, #545454 85%);
background-image: -ms-linear-gradient(right bottom, #969696 8%, #545454 85%);
background-image: linear-gradient(to right bottom, #969696 8%, #545454 85%);
*/

}

#footer p {
color: #ffa700;
font-size: 14px;
}

/************************* Footer END **************************/
